@model List<Cms.Web.ViewModel.DoctorViewModel>
@{
    ViewData["Title"] = "WebSiteIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!-- portfolio -->
<section class="section doctors">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h2>Doktarlarımız</h2>
                    <div class="divider mx-auto my-4"></div>
                </div>
            </div>
        </div>
        <div class="row shuffle-wrapper portfolio-gallery">
        @foreach (var item in Model)
        {
            
                <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;cat1&quot;,&quot;cat2&quot;]">
                    <div class="position-relative doctor-inner-box">
                        <div class="doctor-profile">
                            <div class="doctor-img">
                                <img src="~/images/@item.ImagePath" alt="doctor-image" class="img-fluid w-100">
                            </div>
                        </div>
                        <div class="content mt-3">
                            <h4 class="mb-0"><a href="#">@item.title @item.FullName</a></h4>
                            <p>@item.PoliclinicName</p>
                        </div>
                    </div>
                </div>
            }
            </div>
            </div>
    </section>

