@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = null;

}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h1> hata: meydana gelen sayfa: @ViewBag.path</h1>
<h1> hata: @ViewBag.message</h1>
